*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #222;
    background-color: #F6F9FC;
}
a{
    text-decoration: none;
    color: #222;
}
a:hover{
    text-decoration: underline;
}
h1{
    color: #4E78DA;
    font-size: 60px;
    text-align: center;
}
h3{
    margin: 10px;
}
b{
    font-size: calc(1em + 1px);
}
button{
    border-radius: 3px;
    border: none;
    background-color: #4E78DA;
    color: #F6F9FC;
    padding: 8px 10px;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: bold;
}
.fa-solid{
    font-size: 2.6em;
    text-decoration: none;
}
nav{
    height: 82px;
    background: #4EA4D9;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
nav>.search{
    display: none;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 44px;
    background-color: #F6F9FC;
    border-radius: 10px;
}
nav>.search:focus-within{
    outline: #222 solid 1px;
}
nav>.search>button{
    background-color: #4E78DA;
    border-radius: 10px;
    width: 60px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
nav>.search i{
    font-size: 1.5em;
    color: #222222;
}
#search{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    outline: 0;
    font-size: 1.1em;
}
#logo{
    border-radius: 3px;
    margin: 8px;
    height: 66px;
}
.icons-container{
    margin-right: 8px;
    display: flex;
}
.icons-container li{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
}
.pc{
    background-color: #f0f0f0;
    height: 55px;
    display: none;
}
.pc>ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}
.pc i{
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    color: #4E78DA;
}
.pc>ul>li{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.menu {
    position: fixed;
    left: -100%;
    width: 200px;
    height: 100%;
    background-color: #F6F9FC;
    transition: left 0.5s ease;
    z-index: 3;
    display: flex;
    flex-direction: column;
    overflow: auto;
    list-style: none;
}
.menu li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.menu a {
    padding: 10px;
    color: #333;
    font-weight: bold;
    font-size: 16px;

}
.menu .fa-solid{
    color: #4E78DA;
    font-size: 2.6em;

}
.menu li:hover {
    background-color: #f0f0f0;
}
.menu-open{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: left 0.5s ease;
    z-index: 1;
    overflow: hidden;
}
.bttm{
    margin-top: auto;
}
header>p{
    font-size: 1.7em;
    text-align: center;
}
.promo-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.promo>h3{
    font-size: 2em;
    text-align: center;
}
#promo-pc{
    display: none;
}
.promo img{
    width: calc(100% - 30px);
    border: 2px solid #222;
    border-radius: 5px;
    max-width: 1100px;
    margin: 15px;
}
.promo-right{
    background-color: #6BD2D9;
    text-align: center;
    margin-right: 15px;
    width: calc(100% - 30px);
    margin-left: 15px;
    border-radius: 2px;
    border: 2px solid #222;
    height: auto;
    min-height: 150px;
    max-height: max-content;
    max-width: 1280px;
    padding: 5px;
}
.promo-right>p{
    margin-top: 3px;
    margin-bottom: 3px;
}
.prod-container{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}
.main-product>article{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-product h3{
    font-size: 2em;
    text-align: center;
}
.main-product img{
    height: 180px;
    cursor: pointer;
    margin-bottom: 10px;
}
.main-background{
    border-radius: 10px;
    background-color: #6BD2D9;
    padding: 10px;
    border: 1px solid #222;
    min-width: 80%;
}
.main-background>.price{
    font-size: calc(1em + 15px);
    font-weight: bold;
}
.main-product p{
    font-size: calc(1em + 3px);
}
.main-product h4{
    font-size: calc(1em + 10px);
}
.main-product button{
    margin-top: 6px;
    padding: 6px 20px;
}
.articles{
    display: flex;
    overflow-x: auto;
}
.item{
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: #6BD2D9;
    flex-direction: column;
    border: 1px solid #222;
    justify-content: space-around;
}
.item p{
    font-weight: 500;
    font-size: 1.6em;
}
.item h4{
    font-size: 1.5em;
}
.item>img{
    height: 180px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.item button{
    margin-top: 3px;
}

.polecamy>h3{
    text-align: center;
    font-size: 2em;
}
footer{
    background-color: #4EA4D9;
    color: #F6F9FC;
    display: flex;
    font-size: 1.2em;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 10px;
}
footer h3{
    margin-bottom: 3px;
}
footer div, footer p{
    align-items: center;
}
footer a{
    color: #F6F9FC;
}
footer li{
    list-style: none;
    display: flex;
    align-items: center;
}
.opening-hours ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.opening-hours li {
    display: flex;
    align-items: center;
    font-weight: bold;
    max-width: 300px;
}
.opening-hours span {
    font-weight: initial;
    margin-left: 10px;
    margin-right: auto;
}
.opening-hours .fa-solid{
    margin-right: -5px;
}
footer .fa-solid, footer .fa-brands{
    margin: 7px;
    font-size: 1.35em;
}

.icons-container .gallery, .icons-container .contact{
    display: none;
}


/*FORMULARZ*/
.contact-form{
    max-width: 300px;
    padding-left: 5px;
    margin: 0 auto;
}
.contact-form input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
    border-radius: 3px;
}
.contact-form input[type=text],.contact-form input[type=tel],.contact-form input[type=email],.contact-form input[type=number]{
    font-size: 18px;
    height: 30px;
}
.contact-form input:focus{
    border-bottom-color: #4EA4D9;
}
.contact-form input:invalid{
    border-bottom-color: crimson;
}
.contact-form>img{
    height: 1em;
}
.contact-form>label{
    font-size: 1.2em;
    margin-top: 5px;
}
.contact-form textarea{
    width: 100%;
    resize: vertical;
    max-height: 300px;
    min-height: 100px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.3em;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
}
.contact-form>fieldset{
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #ccc;
}
.contact-form input[type=radio],.contact-form input[type=checkbox]{
    width: 20px;
}
.contact-form input[type=submit]{
    background-color: #4E78DA;
    color: #F6F9FC;
    padding: 8px 10px;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
    border: none;
}
.contact-form input[type=submit]:hover{
    background-color: #4E78DAE6;
}
.contact-form input[type=reset]{
    background-color: #F6F9FC;
    color: #4E78DA;
    padding: 8px 10px;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
    border: none;
}
.contact-form input[type=reset]:hover{
    background-color: #f0f0f0;
}
.contact-form .fa-solid {
    font-size: 1em;
    color: #222;
}
/*GALERIA*/
.main-gallery{
    h3{
        text-align: center;
        font-size: 2em;
    }
    h4{
        text-align: center;
        font-size: 1.7em;
        color: #4E78DA;
        width: 300px;
        margin-left: 10px;
    }
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery-container img{
    width: 100%;
    max-width: 300px;
    margin: 5px 5px 50px;
    border-radius: 5px;
    border: 2px solid #222;
}

/*Media Query na pecety*/
@media screen and (min-width: 769px) {
    .icons-container>.search, .icons-container>.burger{
        display: none;
    }
    .icons-container .gallery, .icons-container .contact{
        display: flex;
    }
    nav>.search{
        display: flex;
    }
    footer{
        flex-direction: row;
    }
    .pc{
        display: flex;
    }
    .promo>h3{
        font-size: 3em;
    }
    #promo, .promo-right{
        display: none;
    }
    #promo-pc{
        display: block;
    }
    .main-product{
        margin-right: 5%;
    }
    .main-product>article{
        align-items: start;
    }
    .main-product h3{
        text-align: left;
    }
    .polecamy>h3{
        text-align: left;
    }
    .prod-container{
        display: flex;
        margin-bottom: 20px;
    }
    .articles{
        flex-wrap: wrap;
        max-width: 60vw;
    }
    .item{
        width: 360px;
        flex-direction: row;
        align-items: center;
    }
    .main-product img{
        height: 256px;
    }
    .main-background{
        width: 406px;
    }
    .contact-form{
        max-width: 600px;
    }
    .gallery-container img{
        max-width: 650px;
    }
    .main-gallery h4{
        width: 650px;
    }
}